/* /public/tasksStyle.css */

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
}

.container {
    display: flex;
    flex-direction: column; /* Ændret til kolonne-retning */
    align-items: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #fff;
    color: #6a5acd;
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center; /* Sikrer at indholdet er centralt justeret vertikalt */
    cursor: pointer;
    position: relative; /* Forbedret håndtering af børneelementer positionering */

    user-select: none; /* For at undgå tekstmarkering når man trækker */
    touch-action: manipulation; /* For at forhindre scrollning på touch-enheder */
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transition-delay: 0s, 0s;
}

.completed {
    pointer-events: none;
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.task-item {
    display: flex;
    align-items: center;
    padding: 15px 20px;  /* Øget padding for bedre plads omkring indhold */
    margin: 10px 0 10px 0; /* Jævn fordeling af margin for at adskille boksene */
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Blød skygge for et løftet udseende */
    cursor: pointer;
}

.task-item:hover {
    box-shadow: 0 6px 10px rgba(0,0,0,0.15); /* Fremhævet skygge ved hover */
}

.task-description {
    flex-grow: 1;
    font-size: 1em; /* Standard skriftstørrelse */
    color: #333; /* Mørkere tekstfarve for bedre læsbarhed */
}

.task-time {
    margin-left: 20px; /* Sørger for afstand til beskrivelsen */
    font-size: 0.9em; /* En smule mindre tekststørrelse for at skelne mellem beskrivelse og tid */
    color: #555; /* Blødere tekstfarve */
}

.checkbox-container {
    padding-right: 15px; /* Tilføj plads omkring checkbox for nemmere interaktion */
}


.collapse {
    transition: height 0.2s ease-out, margin 0.2s ease-out, padding 0.2s ease-out;
    transition-delay: 0.3s; 
}


input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin-right: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #6a5acd;
    position: relative;
}

input[type="checkbox"]::before {
    content: "\2714";
    color: #fff;
    position: absolute;
    left: 5px;
    top: -2px;
    font-size: 20px;
    cursor:grab;
}

input[type="checkbox"]:checked {
    background-color: #fff;
    border-color: #6a5acd;
}

li.completed {
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

